@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Baloo Thambi 2', cursive;
    color: #330000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logo {
  width: 80%;
  height: 80%;
}

.indexHeaderBox {
  margin-top: 50px;
  display: flex;
  position: relative;
}

.indexHeaderBox ul li {
  float: left;
  width: 75px;
  height: 70px;
  padding-right: 1em;
}

.indexHeaderBox ul li {
  list-style-type: none;
  font-size: 1.5em;
}

.container {
  color: #330000;
  text-decoration: none;
  flex-direction: none;
  min-height: 50px;
  margin: auto;
}

.container :hover {
  color: #00CED1;
}

.generalNavigation {
  overflow: hidden;
  display: flex;
}

body div.container {
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.page-title {
  text-align: center;
  font-size: 2em;
  position: absolutez;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  background-color: #330000;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
}

.index-body{
  background-image: url("../image/main-bg.jpg");
}

.indexBox {
  text-align: center;
}

.main-title {
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  display: table;
}

.main-text {
  text-align: center;

}

.index-button {
  text-align: center;
}

.button1 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #00CED1;
  border-style: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.news-body {
  background-image: url(../image/news-bg.jpg);
  position: absolute; top: 100;
}

.main-box {
  background: #fcc;
  margin-bottom: 10px;
}
.side-box {
  background: #fea;
}
.main-box,
.side-box {
  padding: 2%;
  border-radius: 10px
}

@media ( min-width : 600px ){
    .flexbox {
      display: -webkit-flex;
      display: flex;
    }
  .main-box {
    margin: 0 10px 0 0;
  }
}

.updateTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00CED1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align:center;
  line-height: 1em;
    color: #ffffff;
 }

.date {
  font-size: 30px;
}

.year {
  border-top: 2px #ffffff solid;
  line-height: 1em;
}

.news-bg {
  height: 50px;
  background-position: right 10% bottom 10%;
  object-fit: cover;
}

.news-top{
  font-size: 100px;
  text-align: center;
}

time{
  line-height: 10px;
}

.news-main {
  text-align: left;
  font-size: 2em;
  display: flex;
}

.news-wall {
  height: 70%;
  width: 70%;
}

.main-box{
  display: flex;
}

.flexbox {
  margin: 120px;
}


