@charset "UTF-8";
/*基本設定*/
html {
    font-size: 100%;
}
/*ボディ*/
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Baloo Thambi 2', cursive;
    color: #330000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*ヘッダー*/

.index-header-box ul li {
  width: 150px;
  height: 70px;
  list-style-type: none;
  font-size: 1.5em;
}

@media (max-width : 375px) {
  .index-header-box ul li {
  width: 100px;
  height: 70px;
  list-style-type: none;
  font-size: 1.5em;

  }
}

.general-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width : 375px) {
  .general-navigation {
    justify-content: center;
    flex-direction: column;
  }
}

.logo {
    margin: 30px 200px 0;
    display: flex;
    justify-items: center;
}

@media (max-width : 375px) {
  .logo {
    justify-content: center;
  }
}

.logo-img {
  width: 70%;
  height: auto;
}

@media (max-width : 375px) {
  .logo-img {
    width: 375px;
    height: auto;
    text-align: center;
  }
}

body div.container {
  flex-direction: column;
}

.header-ul {
  display: flex;
  flex-direction: row;
  margin: 40px 100px 0;
}

@media (max-width : 375px) {
  .header-ul {
    margin: 40px 30px 0;
    justify-content: center;
  }
}

a {
    color: #330000;
    text-decoration: none;
    min-height: 50px;
}

a:hover {
    color: #00CED1;
}

@media (max-width : 375px) {
  a {
    color: #330000;
    text-decoration: none;
    min-height: 50px;
}

a:hover {
    color: #00CED1;
}
}


.page-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 150px;
    height: 40px;
    width: 100%;
}

/*フッター*/

.wrapper {
    display: flex;
    flex-direction: column;
}

  .footer {
    width: 100%;
    background-color: #330000;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

/*index*/

.index-body{
  background-image: url("../image/main-bg.jpg");
}

@media (max-width : 375px) {
  .index-body {
    background-image: url("../image/main-bg.jpg");
    width: 375px;
    height: 667px;
  }
}

.index-box {
  text-align: center;
}

.main-title {
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  display: table;
}

@media (max-width : 375px) {
  .main-title {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
  }
}

.main-text {
  text-align: center;
}


.index-button {
  text-align: center;
}

.button1 {
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #00CED1;
  border-style: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 40px;
}

/*news*/

.news-body {
  background-image: url(../image/news-bg.jpg);
  object-fit: cover;
  height: 300px;
  width: 100%;
}

@media (max-width : 375px){
  .news-body{
    width: 375px;
    height: 300px;
    justify-content: center;
  }
}

.main-box {
  margin: 100px;
  display: flex;
}

@media (max-width : 375px) {
  .main-box {
    margin: auto;
  }
}

.side-box {
  margin: 50px;
}

.main-box,
.side-box {
  padding: 2%;
  border-radius: 10px
  display: -webkit-flex;
}

.content-center {
  display: flex;
}

@media ( max-width : 375px ){
  .content-center {
    /* display: flex; */
    }
  .main-box {
    margin: 0 10px 0 0;
  }
}

.update-info {
  display: flex;
}

@media ( min-width : 375px ){
  .update-time {
    display: inline;
  }
}

.update-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00CED1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align:center;
  line-height: 1em;
  color: #ffffff;
 }

.date {
  font-size: 30px;
}

.year {
  border-top: 2px #ffffff solid;
  line-height: 1em;
}

.news-bg {
  height: 50px;
  background-position: right 10% bottom 10%;
  object-fit: cover;
}

@media ( min-width : 375px ) {
  .news-bg {
    height: 50px;
    background-position: center;
  }
}

.news-top{
  font-size: 100px;
  text-align: center;
}

.news-main {
  margin: 25px;
  font-size: 2em;
  display: flex;
}

@media ( min-width : 375px ) {
  .news-main {
    margin: 20px;
  }
}

.category {
  margin-left: 100px;
  margin-bottom: 20px;
}

.news-wall {
  height: 70%;
  width: 70%;
}

@media ( min-width : 375px ) {
  .news-wall {
    height: auto;
    width: 365px;
    margin: 10px;
  }
}

.side-list {
  list-style: none;
}

.side-menu {
  width: 10em;
  text-decoration: none;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 2px;
  margin: 10px 0 10px 0;
}

.side-contents {
  text-decoration: underline gray;
  margin-bottom: 30px;
}

/*Menu*/
.menu-body {
  background: #E9967A url(../image/menu-bg.jpg);
  height: 900px;
  width: 100%;
  background-blend-mode: screen;
  background-size: cover;
}

.menu-text {
  font-size: 20px;
  width: 50%;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  margin: 50px 200px 0;
  /* マージンの設定は時計回り */
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr)
}

.menu-image-big1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: auto;
}

.menu-image {
  width: 100%;
  height: auto;
}

/* Contact */
.contact-page-title {
  text-align: start;
  font-size: 2em;
  margin: 0 200px 0;
}

.contact-body {
  background: rgba(255, 255, 255, .5) url(../image/contact-bg.jpg);
  height: 600px;
  width: 100%;
  background-blend-mode: screen;
  background-size: cover;
}

.contact-form {
  margin: 0 200px 0;
}

.form-text-box {
  display: grid;
  gap: 5px;
  background-color: white;
  opacity: 0.6;
  width: 300px;
  height: 30px;
  border-radius: 5px;
}

.form-text-box-big {
  display: grid;
  gap: 5px;
  background-color: white;
  opacity: 0.6;
  width: 450px;
  height: 100px;
  border-radius: 5px;
}

.contact-details {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.shop-address {
  margin: 0 10px;
}

.shop-name {
  width: 12em;
  text-decoration: none;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 2px;
  margin: 10px 0 10px 0;
}

.contact-map {
  display: flex;
}

.media-links {
  display: flex;
  background-color: #FFDBC9;
  margin: auto 0;
  justify-content: center;
}

.facebook-url {
  margin: 50px 30px;
}

.facebook {
  width: auto;
  text-decoration: none;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 2px;
  margin: 10px auto;
}

.twitter-url {
  margin: 50px 30px;
}

.twitter {
  width: auto;
  text-decoration: none;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 2px;
  margin: 10px auto;
}

.youtube-url {
  margin: 50px 30px;
}

.youtube{
  width: auto;
  text-decoration: none;
  border-bottom: 2px solid #00CED1;
  padding-bottom: 2px;
  margin: 10px auto;
}
/* contactフッタ */

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.contact-footer {
  width: 100%;
  background-color: #330000;
  color: #ffffff;
  text-align: center;
}
